DAGGER_SRC_ROOT=/Users/tomchauveau/Documents/github.com/dagger/dagger
export _EXPERIMENTAL_DAGGER_CLI_BIN=$DAGGER_SRC_ROOT/bin/dagger
export _EXPERIMENTAL_DAGGER_RUNNER_HOST=docker-container://dagger-engine.dev
export PATH=$DAGGER_SRC_ROOT/bin:$PATH
export DAGGER_CLOUD_TOKEN=ac3cf80d-312d-4b0b-a35c-7eae04b34af9
export HONEYCOMB_TOKEN=Yn4QCuX9JqCmgGfVUfLsxB